*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
  --social-background: #4d5ae5;
  --icons-color: rgb(207, 118, 17);
  --overlay-color: blue;
  --background-modal-x-btn: ; #e7e9fc
  --modal-x-btn-color; #2e2f42;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
a:active {
  color: var(--ocean);
}
a:hover {
  color: var(--iris);
}

.section-main-page {
  width: 1440px;
  height: 2592px;
  background: var(--white);
}
.body-section {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
}
/* Header Section*/
.main-nav a.active {
  border-bottom: 4px solid #404bbf;
  padding-bottom: 44px;
}

.header-container {
  height: 72px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.web-studio {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
  display: flex;
  justify-content: flex-start;
}

.logo-web {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.logo-studio {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
  margin-left: 5px;
}
.main-nav {
  display: flex;
  justify-content: space-evenly;
  width: 261px;
  height: 24px;
}
.nav-bar {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.contacts {
  display: flex;
  justify-content: end;
}
.email,
.phone {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.phone {
  margin-left: 450px;
}
/* Hero Section*/
.box-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.4)),
    url(../images/people-office\ 1.png);
}

.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section {
  width: 70%;
  text-align: center;
}
.hero-title {
  color: var(--white);
  font-size: 2em;
  margin-bottom: 1em;
}
.button:hover,
.button:active {
  color: var(--navy-blue);
  background-color: var(--cloud);
  font-family: var(--font-family);
  cursor: pointer;
  font-weight: 500;
}
.button {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  height: 56px;
  background-color: var(--iris);
  color: var(--white);
  border: 2px solid #4d5ae5;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Strategy Section */
.box-strategy {
  display: flex;
  justify-content: center;
}
.container-feature {
  display: flex;
  flex-direction: row;
  width: 1128px;
  height: 104px;
}
/* What are we doing Section*/

.what-are-we-doing-title {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
}

.container-svc-img {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

/* Our team Section */

.conainer-our-team {
  height: 600px;
}
.container-our-team-title {
  display: flex;
  justify-content: center;
}
.our-team {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
}
.container-our-team-cards {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.card-name {
  display: flex;
  justify-content: center;
}
.p {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.icons-list .icon svg {
  width: 16px;
  height: 16px;
}
.icons-list .icon {
  width: 40px;
  height: 40px;
  background-color: var(--social-background);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Customers Section*/
.customers-section {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
line-height: 111%;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: var(--navy-blue);
}
.customers-section-title  {
  display: flex;
  justify-content: center;
}
.customers-section-svg {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Footer Section*/
.logo-p {
  width: 264px;
  position: absolute;
  margin-left: 156px;
  margin-top: 230px;
}
.footer__wrapper {
  background-color: var(--navy-blue);
  width: 1440px;
  height: 312px;
}
.footer-container {
  gap: 50px;
  display: inline-flex;
  align-items: center;
}
.footer__paragraph {
  width: 264;
  height: 72;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: var(--cloud);
}

.footer-logo {
  margin-top: 50px;
}
.footer-logo-web {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}
.footer-logo-studio {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--cloud);
}
.footer-icon-list {
  display: flex;
  justify-content: start;
  flex-direction: row;
  gap: 24px;
}
.footer-icon-list .icon svg {
  width: 16px;
  height: 16px;
}
.footer-icon-list .icon {
  width: 40px;
  height: 40px;
  background-color: var(--social-background);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media {
  position: absolute;
  margin-top: 230px;
  margin-left: 540px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--white);
}
.is-hidden {
  visibility: hidden;
}
.modal {
  position: fixed;
  top: 80px;
  left: 516px;
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}
.modal-content {
  margin-top: 8px;
  padding: 20px;
  background-color: #fff;
  position: relative;
  border-radius: 4px;
  width: 408px;
  height: 584px;
}

.close-btn {
  background-color: var(--background-modal-x-btn);
  border-radius: 50%;
  color: var(--modal-x-btn-color)
  outline: none;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
.close-btn:hover {
  
  color: #ffff;
  background-color: #4D5AE5
}
.form-modal {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;
}
.form-modal > span {
  margin-top: 8px;
  position: relative;
  left: 2%;
  font-size: 12px;
  color: #8e8f99;
}
.input {
  height: 38px;
  width: 360px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  position: relative;
  left: 2%;
  outline: none;
}

.form-modal svg {
  height: 24px;
  width: 18px;
}

.input[type="text"] {
  padding-left: 30px;
  font-size: 14px;
}

.input[type="text"] + svg {
  position: absolute;
  top: 72%;
  left: 5%;
  transform: translateY(-50%);
}

.input[type="text"]:focus + svg {
  fill: #4d5ae5;
}

.input:focus {
  border: 1px solid #4d5ae5;
}
.form-modal > span {
  margin-top: 8px;
  position: relative;
  left: 2%;
  font-size: 12px;
  color: #8e8f99;
}
.policy-text .privacy{
    color: #404BBF;
    text-decoration: underline;
}

.policy-text{
    position: absolute;
    bottom: 16%;
    left: 12%;
    cursor: pointer;
}
.check-btn {
    width: 12px;
    height: 12px;
    color: transparent;
    border: 1px solid #212121;
    border-radius: 2px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
    position: absolute;
    bottom: 16.3%;
    left: 6.2%;

}

.check{
    display: none;
}


.check:checked+.check-btn {
    background-color: #4D5AE5;
    border-color: #404BBF;
    fill: #ffffff;
    outline: none;
}
.modal-btn {
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    border: 1px solid #4D5AE5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4D5AE5;
    position: absolute;
    bottom: 24px;
    left: 119px;
    color: white;
    outline: none;
}

.modal-btn:hover {
    cursor: pointer;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #E7E9FC;
    border: 1px solid #E7E9FC;
    color: #4D5AE5;
    transform: scale(1.1);
}

.modal-btn:not(:hover) {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-message {
    height: 138px;
    width: 360px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    position: absolute;
    left: 2%;
    margin-top: 30px;
    outline: none;
    padding-left: 12px;
    padding-top: 10px;
    font-size: 14px;
}

.form-message:focus {
    border: 1px solid #4D5AE5;
}
.form-message::placeholder {
    color: #2E2F4266;
}
.container {
    width: 1200px;
}
.footer .container h4 {
    font-family: var(--title-font-family);
    font-weight: 500;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    position: relative;
    left: 14%;
}
.sub-btn{
    background-color: #4D5AE5;
    border: 1px solid #4D5AE5;
    border-radius: 4px;
    outline: none;
    color: #ffffff;
    margin-left: 24px;
    padding: 5px 24px 8px 24px;
    height: 40px;
}

.sub-btn:focus,
.sub-btn:hover{
    background-color: #ffffff;
    color: #4D5AE5;subscribe-bottom
    font-weight: 500;
    border: 1px solid #ffffff;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.1);
    cursor: pointer;
}
.sub-btn[type="submit"]:hover svg,
.sub-btn[type="submit"]:focus svg{
    fill: #4D5AE5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.send {
    width: 24px;
    height: 20px;
    fill: #ffffff;
    margin-left: 10px;
    margin-bottom: -3px;
}
.mail-style {
    border: 1px solid #ffffff;
    border-radius: 4px;
    height: 40px;
    width: 265px;
    outline: none;
    background-color: transparent;
    color: white;
    padding-left: 15px;
}

.mail-style:focus{
    border: 2px solid #4D5AE5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.1);
    color: white;
    padding-left: 15px;
}
.subscribe-footer{
  margin-top: 85px;
    position: absolute;
    left: 60%;
}
.subscribe-bottom{
    color: white;
    font-weight: 500;
    display: flex;
    margin-bottom: 16px;
}
.customers-svg {
  color: var(--light-slate);
}
.customers {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 72px;
    margin-bottom: 120px;
}

.customers .customers-logo {
    width: 168px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers .customers-logo:hover,
.customers .customers-logo:active {
    border: 1px solid #10A5F5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logo svg {
    color: #8e8f99;
}

.customers-logo:hover svg {
    color: #10A5F5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-logo svg use {
    width: 104px;
    height: 56px;
}